
@{
    ViewData["Title"] = "AccessDenited";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>..::HATA::..</h1>
<h2 class="text-danger text-center">
    Bu sayfaya erişim izniniz bulunmamaktadır.
</h2>

