@model UserUpdateViewModel

@{
    ViewData["Title"] = "UpdateUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<form asp-action="UpdateUser" asp-controller="Panel" method="post"
class="w-75 mx-auto p-3" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Name"></label>
        <span asp-validation-for="Name" class="text-danger"></span>
        <input asp-for="Name" />
    </div>
    <br /> <div class="form-group">
        <label asp-for="SurName"></label>
        <span asp-validation-for="SurName" class="text-danger"></span>
        <input asp-for="SurName" />
    </div>
    <br />
    <div class="form-group">
        <label asp-for="Email"></label>
        <span asp-validation-for="Email" class="text-danger"></span>
        <input asp-for="Email" />
    </div>
    <br />
    <div class="form-group">
        <label asp-for="PhoneNumber"></label>
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        <input asp-for="PhoneNumber" />
    </div>
    <br />
    <div class="form-group">
        <div class="row">
            <div class="col-md-4">
                <label>Bir Önceki Resminiz.</label>
                <img src="~/img/@Model.PictureUrl" alt="@Model.Name" style="height:4rem!important;width:5rem!important" />
            </div>
            <div class="col-md-8">
                <input type="file" asp-for="@Model.Picture"/>
            </div>
            
        </div>
    </div>
    <div asp-validation-summary="ModelOnly" class ="text-danger">
        
    </div>
    <button class="btn btn-info" type="submit">Kaydet</button>
</form>

